StorageManagement/flows/Recommended_Badge_Delete_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Does_Custom_Metadata_Record_Exist</name>
        <label>Does Custom Metadata Record Exist?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Custom Metadata Record Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Custom_Metadata_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Badge_to_Keep_Custom_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_to_Delete_Custom_Metadata</targetReference>
            </connector>
            <label>Custom Metadata Record Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaTaskSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Delete CMT Record for &apos; + {!Get_Badge_to_Keep_Custom_Metadata.Badge_Name__c}</expression>
    </formulas>
    <interviewLabel>Recommended Badge Delete Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommended Badge Delete Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_to_Delete_Custom_Metadata</name>
        <label>Create Task to Delete Custom Metadata</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formulaTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Badge_to_Keep_Custom_Metadata</name>
        <label>Get Badge to Keep Custom Metadata</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Custom_Metadata_Record_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Badge_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BadgeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Badge_to_Keep__mdt</object>
        <sortField>Badge_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Badge_to_Keep_Custom_Metadata</targetReference>
        </connector>
        <object>Recommended_Badge__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
