Core/flows/New_Topic_Assignment_Quick_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Existing_Topic_Id</name>
        <label>Assign Existing Topic Id</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>topicId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Topics</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Topic_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Topic_Id</name>
        <label>Assign New Topic Id</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>topicId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Topic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Topic_Assignment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Existing</name>
        <choiceText>Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Need_to_Create_New_Topic</name>
        <label>Need to Create New Topic?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Existing_Topic_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Create New Topic</defaultConnectorLabel>
        <rules>
            <name>Create_New_Topic_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_or_Existing_Topic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Topic</targetReference>
            </connector>
            <label>Create New Topic Record</label>
        </rules>
    </decisions>
    <description>Screen flow to create a new Topic Assignment as an object-specific quick action. Created to provide specified functionality to mobile environments.</description>
    <dynamicChoiceSets>
        <name>topics</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Topic</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>topicName</name>
        <dataType>String</dataType>
        <expression> IF({!New_or_Existing_Topic} == {!New}, {!New_Topic}, {!Existing_Topics})</expression>
    </formulas>
    <interviewLabel>New Topic Assignment Quick Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Topic Assignment Quick Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Topic</name>
        <label>Create Topic</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Assign_New_Topic_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Topic</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>New_Topic</elementReference>
            </value>
        </inputAssignments>
        <object>Topic</object>
        <operationMultMatchingRecords>None</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Topic_Assignment</name>
        <label>Create Topic Assignment</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EntityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TopicId</field>
            <value>
                <elementReference>topicId</elementReference>
            </value>
        </inputAssignments>
        <object>TopicAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Choose_Topic</name>
        <label>Choose Topic</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Need_to_Create_New_Topic</targetReference>
        </connector>
        <fields>
            <name>New_or_Existing_Topic</name>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>Existing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New or Existing Topic</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Existing_Topics</name>
            <choiceReferences>topics</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Existing Topics</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_or_Existing_Topic</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Existing</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Topic</name>
            <dataType>String</dataType>
            <fieldText>New Topic</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_or_Existing_Topic</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>New</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;Successfully assigned &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!topicName} topic.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_Topic</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of the parent record whose record page has this flow exposed as a quick action.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of chosen Topic.</description>
        <name>topicId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
