Core/main/default/flows/Recommended_Badge_Mix_Before_Insert_Update_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Owner_ID_Custom_Field_to_Owner_ID</name>
        <label>Set Owner ID Custom Field to Owner ID</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Owner_ID_Field_Blank</name>
        <label>Is Owner ID Field Blank?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Owner ID Field is Not Blank</defaultConnectorLabel>
        <rules>
            <name>Owner_ID_Field_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Owner_ID_Custom_Field_to_Owner_ID</targetReference>
            </connector>
            <label>Owner ID Field is Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Recommended Badge After Insert &amp; Update Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommended Badge Mix Before Insert &amp; Update Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Owner_ID_Field_Blank</targetReference>
        </connector>
        <object>Recommended_Badge_Mix__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
